 <body style= "background-image: url('<%= asset_path("asfalt.png") %>');" class="bg-texture text-gray-800 font-sans tracking-wide">

  <nav class="fixed top-0 left-0 w-full p-6 z-50 flex justify-between text-sm uppercase">
    <div>
      <%= link_to "to Diner mode", diner_path, class: "hover:underline font-bold" %>
    </div>

    <div class="space-x-8">
      <%= link_to "Projects", "#", id:"projects-link", class: "hover:underline font-bold" %>
      <%= link_to "Info", "#", id:"info-link", class: "hover:underline font-bold" %>
    
      <!-- Contact button -->
      <button id="contact-link" class="hover:underline font-bold">
        CONTACT
      </button>

      <!-- Email address (initially hidden) -->
      <div id="email-display" class="absolute right-14 mt-2 opacity-0 transition-opacity duration-500 ease-in-out text-xs text-gray-800 pointer-events-none font-bold">
        <a href="mailto:you@example.com" class="underline">you@example.com</a>
      </div>
  </nav>

  <section class="min-h-screen flex items-center justify-start pl-14">
    <div class="text-center space-y-6">
      <h1 class="text-5xl font-bold uppercase text-gray-800 tracking-widest">Inès Février</h1>
      <p class="text-2xl font-bold uppercase text-gray-800">Web Developer</p>
    </div>
  </section>

  <script>
    document.addEventListener("turbo:load", function () {
      const contactLink = document.getElementById("contact-link");
      const emailDisplay = document.getElementById("email-display");
      const infoLink = document.getElementById("info-link");
      const projectsLink = document.getElementById("projects-link");

      function hideEmail() {
        emailDisplay.classList.remove("opacity-100", "pointer-events-auto");
        emailDisplay.classList.add("opacity-0", "pointer-events-none");
      }

      function toggleEmail() {
        const isVisible = emailDisplay.classList.contains("opacity-100");
        if (isVisible) {
          hideEmail();
        }  
        else {
          emailDisplay.classList.remove("opacity-0", "pointer-events-none");
          emailDisplay.classList.add("opacity-100", "pointer-events-auto");
        }
      }

      if (contactLink) {
        contactLink.addEventListener("click", toggleEmail);
      }

      if (infoLink) {
        infoLink.addEventListener("click", hideEmail);
      }

     if (projectsLink) {
       projectsLink.addEventListener("click", hideEmail);
      }
    });
  </script>
</body>
